<div class="row align-items-center">
<div class="col-md-8 mx-auto">
<h2 class="center">ABOUT</h2></br>
  <div class="text-black center">
  <p>Pawesome was founded in 2017 by Travis, James and Carmen. </p></br>
  <p>Its mission is to save and rescue abandoned dogs and puppies in NSW, Australia. Many of these animals are family pets that have been abandoned and left to fend for themselves on the streets. </p></br>
  <p>We believe that every dog deserves a chance at life.</p>
  </div>
</div>
  <div class="row">
    <div class="col-4">
          <%= image_tag('travisdog-min.jpeg', class: ' img-fluid rounded') %>
          Travis
    </div>
    <div class="col-4">
        <%= image_tag('Carmendog-min.jpeg', class: 'aboutdog img-fluid rounded') %>
        Carmen
    </div>
    <div class="col-4">
      <%= image_tag('jamesdog-min.jpeg', class: ' img-fluid rounded') %>
      James
    </div>

  </div>
</div>
