<<<<<<< HEAD
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
=======
<%= image_tag('puppy-for-adoption.jpg', class: 'banner') %>
>>>>>>> 48ea7b2... added css and homepage image, edited navbar, created home controller
