@import "bootstrap";
@import "toastr";
@import "home";
@import "puppies";
// General


//  Testing
// * {
//   border: 2px solid black;
// }


.center {
  text-align: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding: 0px;
}

.forms {
  width: 40%;
}

// Images

.banner {
  width: 100%;
  margin: 0 auto;
}


.favourite {
  width: 3em;
  height: auto;
}


.banner-wrap {
  display:inline-block;
}


.profile {
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
}

.profileindex {
  border-radius: 15px;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}

// about dogs
.aboutdog{
  height: auto;
  width: 15em;
}

// Navbar
.text-black {
  font-family: 'Didact Gothic', sans-serif;
  color: #000;
  font-size: 20px;
}

.navbar-default {
  background-color: white;
  color: black;
}


// control size of menu and logo

// small screen shrinks the logo size a lot
@media screen and (max-width: 400px) {
  .logo {
    width: 50%;
  }
}

//  Controls the menu button and logo size
@media screen and (max-width: 934px) {
  .logo {
    width: 55%;
  }

  .btnnav {
    font-family: 'Didact Gothic', sans-serif;
    color: #ffffff;
    font-size: .7em;
    background: #6B2A7E;
    padding: 5px 5px;
    text-decoration: none;
  }

  .navtext {
    font-size: .8em;
  }

}




// Text

h2 {
  font-family: 'Didact Gothic', sans-serif;
  color: black;
}

.text-white {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
}

a:hover {
  color: #6B2A7E;
  text-decoration: none;
}

// Buttons

.btn {
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #6B2A7E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover, .btn-browse:hover {
  background: #A470B2;
  text-decoration: none;
  cursor: pointer; cursor: hand;
}


//  Browse dogs button on main page
.btn-browse {
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  font-size: 4vw;
  background: #6B2A7E;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 50%;
  margin-top: -65%;
}
