@import "bootstrap";
@import "toastr";
@import "home";
@import "puppies";
// General

.center {
  text-align: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding: 0px;
}

.forms {
  width: 40%;
}

// Images

.banner {
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 10%;
}

.banner-wrap {
  display:inline-block;
  position:relative;
}

.logo {
  width: 90%;
}

.profile {
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
}

.profileindex {
  border-radius: 15px;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}
// Navbar

.text-black {
  font-family: 'Didact Gothic', sans-serif;
  color: #000;
  font-size: 20px;
}

.navbar-default {
  background-color: white;
  color: black;
}

// Text

h2 {
  font-family: 'Didact Gothic', sans-serif;
  color: black;
}

.text-white {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
}

a:hover {
  color: #6B2A7E;
  text-decoration: none;
}

// Buttons

.btn {
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #6B2A7E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover, .btn-browse:hover {
  background: #A470B2;
  text-decoration: none;
  cursor: pointer; cursor: hand;
}

.btn-browse {
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  font-size: 2vw;
  background: #6B2A7E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  bottom: 60px;
  right: 200px;
}
